@import "./bess.less";
html,
body {
  height: 100%;
}
#main {
  height: 100%;
}
.container {
  height: 100%;
  position: relative;
  .productlist {
    height: 100%;
    .title {
      background-color: #eee;
      .mui-row {
        > div {
          text-align: center;
          a {
            display: block;
            font-size: 12px;
            line-height: 30px;
            color: black;
          }
        }
      }
    }
    .content {
      .mui-row {
        > div {
          padding: 5px;
        }
      }
    }
  }
}
